{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<div>

    <h1 class="mt-3">Enter your Recipe</h1>

    <form action="{% url 'wordofmouth:create-recipe' %}"  method="post">
    {# method is post because we are uploading data to the server/database #}
        {% csrf_token %}
        {% bootstrap_form form %}
    {#    {{ form }}#}
        {% buttons %}
            <input type="submit" value="Submit Recipe">
        {% endbuttons %}
    </form>
</div>