{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'wordofmouth:home' %}">Word of Mouth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="{% url 'wordofmouth:home' %}">Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" href="{% url 'wordofmouth:create-recipe' %}">Create a Recipe</a>#}
{#        </li>#}

      </ul>
        {% if user.is_authenticated %}
            <span class="navbar-text">
              <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, {{ user.first_name }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href= '/{{ user.pk }}/recipes'>View your recipes</a></li>
                    <li><a class="dropdown-item" href= '/favorites'>View your favorites</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out?</a></li>
                  </ul>
              </div>
            </span>
        {% else %}
            <span class="navbar-text">
                <a class="nav-link btn btn-primary text-light" href="{% provider_login_url 'google' %}" role="button">Log In</a>
            </span>
        {% endif %}
    </div>
  </div>
</nav>

    <div class="d-flex justify-content-center align-items-center flex-row mt-5">

        <div>
            <img src="{{recipe.image.url}}" class="card-img-top" alt="image to be placed" style="max-width:450px; max-height:450px;">
        </div>

        <div class="ms-5">
            <div>
                <h1>{{recipe.title}}</h1>
                <div class="d-flex flex-column mb-3">
                    <h2>By: <a href= "{% url 'wordofmouth:recipes-by-user' recipe.author.pk %}">{{ recipe.author.username }}</a></h2>
                    {% if user.is_authenticated %}
                    <!-- <form action="{% url 'wordofmouth:recipes-by-user' recipe.pk  %}" method="POST">
                        <input class="btn btn-primary" id="submit" type="button" value="Add to Favorites" />
                    </form> -->

                    <!-- BUTTONS -->
                    <a href="{% url 'wordofmouth:add-recipe-favorite' recipe.pk %}">
                        {% if recipe in user_favs %}
                            <button class="btn btn-outline-danger">Remove from Favorites</button>
                        {% else %}
                            <button class="btn btn-primary">Add to Favorites</button>
                        {% endif %}
                    </a>
                    <a href= "{%  url 'wordofmouth:fork-recipe' recipe.id %}">
                        <button class="btn btn-info">Fork Recipe</button>
                    </a>
                        {% if recipe.parent is not None %}
                            <a href= "{%  url 'wordofmouth:recipe-detail' recipe.parent %}">
                                <button class="btn btn-info">View Parent Recipe</button>
                            </a>
                        {%endif%}
                    {% endif %}
                </div>

            </div>
            <div>
                <h5>
                    Ingredients:
                </h5>
                <h6>
                    {{recipe.ingredients}}
                </h6>
            </div>
            <div>
                <h5>
                    Directions:
                </h5>
                <h6>
                    {{recipe.directions}}
                </h6>
            </div>
        </div>
    </div>
<!--show forked recipes-->
<div class="d-flex flex-wrap justify-content-around">
    {% for child in children %}
        <a href={% url 'wordofmouth:recipe-detail' child.pk %}><div class="card mb-3" style="width: 25rem">
            {# ^ this div is for each recipe #}
            <h3 class="card-title">{{ child.title }}</h3>
            <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Created by:</span> <a href= {% url 'wordofmouth:recipes-by-user' child.author.pk %}>{{ child.author.username }}</a></h6>
            <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Description:</span> {{ child.description }}</h6>
        </div></a>
    {%empty%}
        <p>There are no forked recipes for this entry</p>
    {%endfor%}

</div>
    <div class="column">
      <div class="card-body">
        <!-- comments -->
          <h2>{{ comments.count }} comment(s):</h2>
            {% for comment in comments  %}
                <div class="comment">
                    <p class="c">
                        <b>{{ comment.user }}</b>
                    </p>
                    {{ comment.body|linebreaks }}
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                </div>
            {% empty %}
                <p>No comments yet</p>
            {% endfor %}
      </div>
    </div>
        <div class="card">
            <div class="card-body">
                {% if new_comment %}
                    <h4>comment added, add another?</h4>
                    <form action="." method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Add comment"></p>
                    </form>
                {% else %}
                    <h4>Add your new comment</h4>
                    <form action="." method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Add comment"></p>
                    </form>
                {% endif %}
            </div>
        </div>
</body>
</html>