{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>
<body>
<h1>Word of Mouth</h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
    <div>
        <a href='/create-recipe' class='btn btn-primary'>Create Recipe</a>
        <a href='/logout'>Logout</a>
    </div>
    <div>
    <h1>Recipes</h1>

    {% if latest_recipe_list %}
        <div>
            {# ^ this div is for the container of recipes #}
            {% for recipe in latest_recipe_list %}
                <div>
                    {# ^ this div is for each recipe #}
                    <h4>{{ recipe.title }}</h4>
                    <h5>Created by: <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h5>
                    <h6>Description: {{ recipe.description }}</h6>
                    <h6>{{ recipe.ingredients }}</h6>
                    <h6>{{ recipe.directions }}</h6>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes posted :(</p>
    {% endif %}
    </div>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google to post your own recipe.</a>
    <div>
    <h1>Recipes</h1>

    {% if latest_recipe_list %}
        <ul>
            {% for recipe in latest_recipe_list %}
                <li>
                    <h1>{{ recipe.title }}</h1>
                    <h2>Created by: <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h2>
                    <h2>{{ recipe.description }}</h2>
                    <h6>{{ recipe.ingredients }}</h6>
                    <h6>{{ recipe.directions }}</h6>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes posted :(</p>
    {% endif %}
    </div>
{% endif %}
</body>
</html>