{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>
<body>
<h1>Word of Mouth</h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
    <div>
        <a href='/create-recipe' class='btn btn-primary'>Create Recipe</a>
        <a href='/logout'>Logout</a>
    </div>
    <div>
    <h1>Recipes</h1>

    {% if latest_recipe_list %}
        <ul>
            {% for recipe in latest_recipe_list %}
                <li>{{ recipe.title }}: {{ recipe.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes posted :(</p>
    {% endif %}
    </div>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>