{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body style="background-color: aliceblue;">

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'wordofmouth:home' %}>Word of Mouth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href={% url 'wordofmouth:home' %}>Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link active" href={% url 'wordofmouth:create-recipe' %}>Create a Recipe</a>#}
{#        </li>#}

      </ul>
        {% if user.is_authenticated %}
            <span class="navbar-text">
              <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, {{ user.first_name }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href= '/{{ user.pk }}/recipes'>View your recipes</a></li>
                    <li><a class="dropdown-item" href= '/favorites'>View your favorites</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out?</a></li>
                  </ul>
              </div>
            </span>
        {% else %}
            <span class="navbar-text">
                <a class="nav-link btn btn-primary text-light" href={% provider_login_url 'google' %} role="button">Log In</a>
            </span>
        {% endif %}
    </div>
  </div>
</nav> -->

{% if user.is_authenticated %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 px-1 position-fixed" id="sticky-sidebar" style="background: linear-gradient(270deg, #F2F6FF 17.58%, #FFFFFF 100%);">
                <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2 d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center flex-column" style="width: 25rem">
                        <a href="/" class="mt-5">                        
                            <img src="https://word-of-mouth-a24.s3.amazonaws.com/staticfiles/wordofmouth_logo.png" alt="wordofmouth_logo" style="border-radius:50%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);">
                        </a>
                        <!-- <h1 class="mt-3" style="color: black;">Recipes</h1> -->
                        <div class="d-flex flex-column mt-5">
                            <a href={% url 'wordofmouth:create-recipe' %} class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">Create a Recipe</a>
                            <a href='/{{ user.pk }}/recipes' class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">View your Recipes</a>
                            <a href= '/favorites' class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">View your Favorites</a>
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">Log Out</a>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-4 mt-5 mb-5 d-flex" id="main">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Confirm Log Out</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to log out?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a type="button" class="btn btn-primary" href="/logout">Log Out</a>
                        </div>
                      </div>
                    </div>
                  </div>    
                {% if latest_recipe_list %}
                <!-- <div class="d-flex justify-content-start"> -->
                    <div class="d-flex flex-wrap justify-content-evenly align-content-start">
                        {# ^ this div is for the container of recipes #}
                        {% for recipe in latest_recipe_list %}
                            <div class="card mb-3" style="width: 30rem; height: 28.125rem; border-radius: 0px; border: none; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);">
                                {# ^ this div is for each recipe #}
                                <a href={% url 'wordofmouth:recipe-detail' recipe.pk %}>
                                    <img src="{{recipe.image.url}}" class="card-img-top" alt="an image of {{recipe.title}}" style="object-fit: cover; width: 100%; height: 300px;border-radius: 0px; padding: 4%; padding-bottom: 0px;">
                                </a>
                                <!-- <img src="{{recipe.image.url}}" class="card-img-top" alt="image to be placed"> -->
                                <div class="card-body">
                                    <h3 class="card-title">{{ recipe.title }}</h3>
                                    <h6 class="card-subtitle mb-2 text-muted">Author: <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Description: {{ recipe.description }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="width:30rem; height: 0rem"></div>
                    </div>
                <!-- </div> -->
                {% else %}
                    <p>No recipes posted :(</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center flex-column" style="width: 25rem">
            <h1 class="mt-3">Recipes</h1>
            <a href={% url 'wordofmouth:create-recipe' %} class="mb-3 btn btn-success" >+ Create Recipe</a>
        </div>


        {% if latest_recipe_list %}
        <div class="d-flex flex-wrap justify-content-around">
            {# ^ this div is for the container of recipes #}
            {% for recipe in latest_recipe_list %}
                <div class="card mb-3" style="width: 28.125rem; height: 28.125rem; border-radius: 0px; border: none; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);">
                    {# ^ this div is for each recipe #}
                    <a href={% url 'wordofmouth:recipe-detail' recipe.pk %}>
                        <img src="{{recipe.image.url}}" class="card-img-top" alt="an image of {{recipe.title}}" style="object-fit: cover; width: 100%; height: 300px;border-radius: 0px; padding: 4%; padding-bottom: 0px;">
                    </a> -->
                    <!-- <img src="{{recipe.image.url}}" class="card-img-top" alt="image to be placed"> -->
                    <!-- <div class="card-body">
                        <h3 class="card-title">{{ recipe.title }}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Author: <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h6>
                        <h6 class="card-subtitle mb-2 text-muted">Description: {{ recipe.description }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No recipes posted :(</p>
        {% endif %}
    </div> -->
{% else %}
    <!-- <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center flex-column" style="width: 25rem">
            <h1 class="mt-3">Recipes</h1>
            <a class="mb-3" href={% provider_login_url 'google' %}>Sign in to Create a Recipe</a>
        </div>


    {% if latest_recipe_list %}
    <div class="d-flex flex-wrap justify-content-around">
        {# ^ this div is for the container of recipes #}
            {% for recipe in latest_recipe_list %}
                <div class="card" style="width: 25rem">
                    {# ^ this div is for each recipe #}
                    <img src="{{recipe.image.url}}" class="card-img-top" alt="image to be placed">
                    <h3 class="card-title">{{ recipe.title }}</h3>
                    <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Created by:</span> <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h6>
                    <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Description:</span> {{ recipe.description }}</h6>
                    <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Ingredients:</span> {{ recipe.ingredients }}</h6>
                    <h6 class="card-text" style="font-weight: normal"><span style="font-weight: bold">Directions:</span> {{ recipe.directions }}</h6>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes posted :(</p>
    {% endif %}
    </div> -->
        <div class="container-fluid">
        <div class="row">
            <div class="col-4 px-1 position-fixed" id="sticky-sidebar" style="background: linear-gradient(270deg, #F2F6FF 17.58%, #FFFFFF 100%);">
                <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2 d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center flex-column" style="width: 25rem">
                        <a href="/" class="mt-5">                        
                            <img src="https://word-of-mouth-a24.s3.amazonaws.com/staticfiles/wordofmouth_logo.png" alt="wordofmouth_logo" style="border-radius:50%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);">
                        </a>
                        <!-- <h1 class="mt-3" style="color: black;">Recipes</h1> -->
                        <div class="d-flex flex-column mt-5">
                            <a href={% url 'wordofmouth:create-recipe' %} class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">Create a Recipe</a>
                            <a href={% provider_login_url 'google' %} class="d-flex align-items-center justify-content-center mb-3" style="width: 350px;height: 50px;background: #FFFFFF;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);border-radius: 45px;font-family: 'Courier New';font-style: normal;font-weight: 400;font-size: 26px;line-height: 29px;text-decoration: none; color: black;">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-4 mt-5 mb-5 d-flex" id="main">
                {% if latest_recipe_list %}
                <!-- <div class="d-flex justify-content-start"> -->
                    <div class="d-flex flex-wrap justify-content-evenly align-content-start">
                        {# ^ this div is for the container of recipes #}
                        {% for recipe in latest_recipe_list %}
                            <div class="card mb-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Log In to View Detailed Recipes" style="width: 30rem; height: 28.125rem; border-radius: 0px; border: none; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(92, 103, 153, 0.2);">
                                {# ^ this div is for each recipe #}
                                <img src="{{recipe.image.url}}" class="card-img-top" alt="an image of {{recipe.title}}" style="object-fit: cover; width: 100%; height: 300px;border-radius: 0px; padding: 4%; padding-bottom: 0px;">
                                <!-- <img src="{{recipe.image.url}}" class="card-img-top" alt="image to be placed"> -->
                                <div class="card-body">
                                    <h3 class="card-title">{{ recipe.title }}</h3>
                                    <h6 class="card-subtitle mb-2 text-muted">Author: <a href= {% url 'wordofmouth:recipes-by-user' recipe.author.pk %}>{{ recipe.author.username }}</a></h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Description: {{ recipe.description }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="width:30rem; height: 0rem"></div>
                    </div>
                <!-- </div> -->
                {% else %}
                    <p>No recipes posted :(</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>