{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html>
<body>
<h1>Word of Mouth</h1>

    {# get author name by getting the author of the first element in the list #}
    <h1>Recipes by {{ latest_user_recipe_list.first.author.username }}</h1>

    {% if latest_user_recipe_list %}
        <ul>
            {% for recipe in latest_user_recipe_list %}
                <li>
                    <h4>{{ recipe.title }}</h4>
                    <p>Created by: {{ recipe.author.username }}</p>
                    <h5>{{ recipe.description }}</h5>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ recipe.author.username }} has not posted any recipes :(</p>
    {% endif %}
    </div>

</body>
</html>